<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[MH GREAT SUN] THÔNG TIN NHÂN VIÊN/PERSONAL INFORMATION</title>

    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      th {
        background-color: yellow;
      }
    </style>
  </head>

  <body>
    <h3>Thân gửi : {{staffName}}</h3>
    <br />

    <p>Chúng tôi rất vui mừng được chào đón bạn gia nhập đội ngũ MH Greet Sun bắt đầu từ ngày {{joinDate}}.</p>
    <p>Chúng tôi tin rằng bạn sẽ là một phần quan trọng trong sự phát triển của công ty và sẽ đóng góp nhiều giá trị cho đội ngũ của chúng tôi.</p>
    <p>Để giúp bạn bắt đầu tại MH Greet Sun, chúng tôi xin gửi đến bạn thông tin tài khoản/ mã nhân viên của bạn:</p>
    <br />

    <table>
      <tr>
        <th>Số tài khoản</th>
        <th>Tên tài khoản đăng nhập</th>
        <th>Mật khẩu tài khoản</th>
        <th>Đường link đăng nhập</th>
      </tr>
      <tr>
        <td>{{username}}</td>
        <td>{{username}}</td>
        <td>{{password}}</td>
        <td><a href="https://mhgreatsun.com/administrator">https://mhgreatsun.com/administrator</a></td>
      </tr>
    </table>

    <br />
    <p>Mã nhân viên này sẽ được sử dụng trong các giao dịch nội bộ, hệ thống quản lý nhân sự và các tài liệu liên quan đến công việc của bạn. Nếu bạn có bất kỳ câu hỏi nào về mã nhân viên hoặc quy trình làm việc, đừng ngần ngại liên hệ với bộ phận nhân sự.</p>
    <p>Một lần nữa, thay hân hoan chào đón bạn đến với ngôi nhà chung MH Great Sun của chúng ta.</p>
    <p>Trân trọng,</p>

  </body>
</html>
