<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông tin tài khoản MH Great Sun</title>

    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      th {
        background-color: yellow;
      }
    </style>
  </head>

  <body>
    <h1>THÔNG TIN TÀI KHOẢN</h1>
    <br />

    <p>Kính gửi quý khách hàng!</p>
    <p>Phòng Quản lý Tài khoản - Công ty MH Great Sun xin thông báo Quý khách hàng</p>
    <p>thông tin tài khoản đăng kí sử dụng của quý khách như sau:</p>
    <br />

    <table>
      <tr>
        <th>Số tài khoản</th>
        <th>Tên tài khoản đăng nhập</th>
        <th>Mật khẩu tài khoản</th>
        <th>Đường link đăng nhập</th>
      </tr>
      <tr>
        <td>{{customerCode}}</td>
        <td>{{customerCode}}</td>
        <td>{{password}}</td>
        <td><a href="https://mhgreatsun.com">mhgreatsun.com</a></td>
      </tr>
    </table>

    <br />
    <p>Mong Quý khách hàng lưu lại thông tin.</p>

    <br />
    <h1>ACCOUNT INFORMATION</h1>
    <br />

    <p>Dear Customer !</p>
    <p>
      Account Management Department – MH Great Sun Company would like to inform customers
    </p>
    <p>Your registered account information is as follows:</p>
    <br />

    <table>
      <tr>
        <th>Account number</th>
        <th>Login account name</th>
        <th>Account password</th>
        <th>Login link</th>
      </tr>
      <tr>
        <td>{{customerCode}}</td>
        <td>{{customerCode}}</td>
        <td>{{password}}</td>
        <td><a href="https://mhgreatsun.com">mhgreatsun.com</a></td>
      </tr>
    </table>

    <br />
    <p>Please save your information.</p>
  </body>
</html>
