.tabs {
  margin: 50px 0;
  :global(.ant-tabs) {
    border: 1px solid #ccc;
    :global(.ant-tabs-nav) {
      overflow: hidden;
      border-bottom: 1px solid #ccc;
      background-color: #f1f1f1;
      :global(.ant-tabs-tab) {
        margin-left: 0 !important;
        border: none;
        background-color: #f1f1f1;
        font-size: 17px;
        border-radius: 0;
        cursor: pointer;
        padding: 10px 30px;
        &:hover {
          color: #000;
        }
      }
      :global(.ant-tabs-tab-active) {
        background-color: #ccc !important;
        :global(.ant-tabs-tab-btn) {
          color: #000 !important;
          text-shadow: none !important;
        }
      }
    }
    :global(.ant-tabs-content-holder) {
      padding: 6px 12px;
      :global(.ant-form-item-control-input) {
        margin-right: 20px;
        :global(input[type='text']) {
          width: 100%;
          height: 29px;
          border: 1px solid #e1e2e1;
          border-radius: 0;
          font-size: 12px;
          font-style: italic;
          color: #333;
          padding-left: 15px;
          line-height: 30px;
        }
      }
      :global(.ant-form-item) {
        margin-bottom: 10px;
      }
      :global(.ant-form-item-label) {
        label {
          margin-left: 10px;
          width: 145px;
          color: #666766;
          height: 29px;
          line-height: 29px;
          font-weight: bold;
          font-size: 13px;
        }
        ::before {
          position: absolute !important;
          left: -9px !important;
        }
      }
      :global(.ant-select-selector) {
        height: 29px;
        span {
          font-size: 12px;
          font-style: italic !important;
          color: #999;
          padding-left: 5px;
          line-height: 27px;
        }
      }
      :global(.ant-select-arrow) {
        background: url(/images/icrow_den.png) 15px 1px no-repeat;
        width: 25px;
        svg {
          display: none;
        }
      }
    }
    :global(.ant-btn-primary) {
      border: none;
      margin: 20px auto 30px;
      display: block;
      width: 117px;
      height: 27px;
      border-radius: 2px;
      background: #008ada url(/images/bg_regis.png) no-repeat;
      position: relative;
      font-size: 12px;
      color: #fff;
      padding-left: 45px;
      text-align: left;
      cursor: pointer;
      font-weight: 500;
    }
  }

  @media screen and (max-width: 1200px) {
    :global(.ant-form-item-label) {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      text-align: left !important;
    }
    :global(.ant-form-item-control) {
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  }
}
.optionWrapper {
  :global(.ant-form-item-control-input) {
    margin-right: 2px !important;
  }
}
